<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            font-family: verdana, serif;
            font-size:12px;
            border: 1px solid white;
        }
        th, td {
            border-bottom:3px solid white;
            border-right:3px solid white;
            padding: 15px;
            text-align: left;
        }
        th {
            background-color: darkgray;
        }
        td {
            background-color: lightgray;
        }
        .endtd {
            border-right: 3px solid darkgray;
        }
        .translate {
            background-color: lightblue;
        }
        .winner {
            background-color: lightpink;
        }
        .compare {
            background-color: lightgray;
        }
        .source {
            background-color: palegoldenrod;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for translation_line in translation_lines %}
                <tr>
                    <td class="endtd source">{{ translation_line.source_text }}</td>
                    <td class="{{ 'winner' if translation_line.translation_1 in translation_line.winners else 'translate' }}">{{ translation_line.translation_1 }}</td>
                    <td class="{{ 'winner' if translation_line.translation_2 in translation_line.winners else 'translate' }}">{{ translation_line.translation_2 }}</td>
                    <td class="{{ 'winner' if translation_line.translation_3 in translation_line.winners else 'translate' }}">{{ translation_line.translation_3 }}</td>
                    <td class="{{ 'winner' if translation_line.translation_4 in translation_line.winners else 'translate' }}">{{ translation_line.translation_4 }}</td>
                    <td class="endtd {{ 'winner' if translation_line.translation_5 in translation_line.winners else 'translate' }}">{{ translation_line.translation_5 }}</td>
                    <td class="compare">{{ translation_line.compare_openai }}</td>
                    <td class="compare">{{ translation_line.compare_gemini }}</td>
                    <td class="compare">{{ translation_line.compare_claude }}</td>
                    <td class="compare">{{ translation_line.compare_mistral }}</td>
                    <td class="compare">{{ translation_line.compare_llama3 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
