<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <style>
        @page {
            size: A4 landscape;
        }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            font-family: verdana, serif;
            font-size:12px;
            border: 1px solid white;
        }
        th, td {
            border-bottom:3px solid white;
            border-right:3px solid white;
            padding: 15px;
            text-align: left;
        }
        th {
            background-color: darkgray;
        }
        td {
            background-color: lightgray;
        }
        .endtd {
            border-right: 3px solid darkgray;
        }
        .translate {
            background-color: lightblue;
        }
        .back-translate {
            background-color: lightgrey;
        }
        .winner {
            background-color: lightpink;
        }
        .compare {
            background-color: lightsteelblue;
        }
        .source {
            background-color: palegoldenrod;
        }
        .empty {
            background-color: lightgrey;
        }
        .sources {
            font-weight: bold;
            font-size: 10px;
        }

    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for translation_line in translation_lines %}
                <tr>
                    <td class="endtd source">{{ translation_line.source_text }}</td>
{% for i in range(max_translations) %}
{% if i < translation_line.translations | length %}
                    <td class="{{ 'winner' if translation_line.translations_raw[i] in translation_line.winners else 'translate' }}">{{ translation_line.translations[i] }}<br><span class="sources">{{ translation_line.translation_sources[i] }}</span></td>
                    <td class="back-translate">{{ translation_line.translations_back[i] }}</td>
{% else %}
                    <td class="empty"></td>
                    <td class="empty"></td>
{% endif %}
{% endfor %}
{% for compare_value in translation_line.compare_list %}
                    <td class="compare">{{ translation_line.unique_translations.index(compare_value) + 1 if compare_value else -1}}</td>
{% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
