<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            font-family: verdana, serif;
            font-size:12px;
            border: 1px solid white;
        }
        th, td {
            border-bottom:3px solid white;
            border-right:3px solid white;
            padding: 15px;
            text-align: left;
        }
        th {
            background-color: darkgray;
        }
        td {
            background-color: lightgray;
        }
        .endtd {
            border-right: 3px solid darkgray;
        }
        .gpt4w {
            background-color: lightblue;
        }
        .gpt4wo {
            background-color: lightblue;
        }
        .llama3 {
            background-color: rgba(241, 181, 181, 0.50);
        }
        .llama3wo {
            background-color: rgba(241, 181, 181, 0.50);
        }
        .source {
            background-color: palegoldenrod;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for translation_line in translation_lines %}
                <tr>
                    <td class="endtd source">{{ translation_line.source_text }}</td>
                    {%  if translation_line.translation_w|length > 0 %}
                    <td class="endtd source">{{ translation_line.translation_w }}</td>
                    {%  else %}
                    <td class="gpt4w">{{ translation_line.translation }}</td>
                    {% endif %}
                    <td class="endtd gpt4w">{{ translation_line.check }}</td>
                    <td class="gpt4wo">{{ translation_line.translation_wo }}</td>
                    <td class="endtd gpt4wo">{{ translation_line.check_wo }}</td>
                    <td class="llama3">{{ translation_line.translation_ll3 }}</td>
                    <td class="endtd llama3">{{ translation_line.check_ll3 }}</td>
                    <td class="llama3wo">{{ translation_line.translation_ll3_wo }}</td>
                    <td class="endtd llama3wo">{{ translation_line.check_ll3_wo }}</td>
                    {% for check in translation_line.certified_translation_checks.values()  %}
                    <td>{{ check }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
